@model Resume.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pid" />
            <div class="form-group">
                <label asp-for="info_id" class="control-label"></label>
                <input asp-for="info_id" class="form-control" />
                <span asp-validation-for="info_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project_name" class="control-label"></label>
                <input asp-for="project_name" class="form-control" />
                <span asp-validation-for="project_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tech_stack" class="control-label"></label>
                <input asp-for="Tech_stack" class="form-control" />
                <span asp-validation-for="Tech_stack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descritpion" class="control-label"></label>
                <input asp-for="Descritpion" class="form-control" />
                <span asp-validation-for="Descritpion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
